.container{
  max-width: 800px;
  margin: 3rem auto 0 auto;
}

.button{
  cursor: pointer;
  margin-left: .7rem;
}

.btn-group{
  margin: auto 1.5rem auto 0;
}

.error-message{
  color: red;
  font-style: italic;
  margin-left: 1rem;
}

button:disabled,
button[disabled]{
  background-color: rgb(147 197 253);
}

input{
  border-radius: 3px;
  border-bottom: 2px solid rgba(147, 196, 253, 0.276);
  height: 2rem;
  padding: 3px;
}
