<div class="container">
  <div *ngIf="(actualMovie$ | async) as movie" class="overflow-hidden bg-white shadow sm:rounded-lg">
    <form #movieEditorForm="ngForm"  (ngSubmit)="editToggle(movie)" >
      <div class="header flex flex-1 justify-between">
        <div *ngIf="isEditid; else onlyReadHeader">
          <div class="px-4 py-5 sm:px-6">
            <input name="title" [(ngModel)]="movie.title"
            placeholder="Film címe"
            required pattern="^[A-Ű][A-Űa-ű()*.,;: .]{3,60}$"
              class="form-control block text-lg font-medium leading-6 text-gray-900">
            <input name="genre" [(ngModel)]="movie.genre"
            required
            placeholder="Film műfaja"
            class="form-control block text-lg font-medium leading-6 text-gray-900">
          </div>
          <div *ngIf="movieEditorForm.controls['title']?.invalid && !movieEditorForm.controls['title']?.pristine  " class="error-message">
            Címet kötelező megadni!
          </div>
          <div *ngIf="movieEditorForm.controls['genre']?.invalid && !movieEditorForm.controls['genre']?.pristine " class="error-message">
            Műfajt kötelező megadni!
          </div>
        </div>
        <ng-template #onlyReadHeader>
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg font-medium leading-6 text-gray-900">{{ movie.title }}</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ movie.genre }}</p>
          </div>
        </ng-template>
        <div class="btn-group mr-2">
          <div (click)="editOff()" routerLink="/movies"
            class="button inline-block rounded-md border border-transparent bg-indigo-600 py-1 px-3 text-center font-medium text-white hover:bg-indigo-700"><i
              class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></div>
          <button type="submit" *ngIf="!isEditid; else save"
          [disabled]="movieEditorForm.invalid"
            class="button inline-block rounded-md border border-transparent bg-green-500 py-1 px-3 text-center font-medium text-white hover:bg-green-600">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </button>
          <ng-template #save>
            <button  type="submit" [disabled]="movieEditorForm.invalid"
              class="button inline-block rounded-md border border-transparent bg-blue-500 py-1 px-3 text-center font-medium text-white hover:bg-blue-600">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>

            </button>
          </ng-template>
          <div (click)="onDelete(movie)"
            class="button inline-block rounded-md border border-transparent bg-red-600 py-1 px-3 text-center font-medium text-white hover:bg-red-700"><i
              class="fa fa-trash"></i></div>
        </div>
      </div>
      <div class="border-t border-gray-200">
        <div *ngIf="isEditid; else onlyRead">
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="director" class="text-sm font-medium text-gray-500">Rendezte:</label>
            <input id="director" name="director" [(ngModel)]="movie.director"
            required pattern="^[A-Ű][A-Űa-ű .]{5,30}$"
            placeholder="Film rendezője"
              class="form-control mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 bg-gray-50 ">
          </div>
          <div *ngIf="movieEditorForm.controls['director']?.invalid && !movieEditorForm.controls['director']?.pristine" class="error-message">
            Rendezőnek 5-40 karakter közöttinek kell lennie.
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="year" class="text-sm font-medium text-gray-500">Gyártás éve:</label>
            <input id="year" name="year" [(ngModel)]="movie.releaseYear"
           pattern="^(19|20)\d{2}$" placeholder="Film gyártási éve"
              class="form-control mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          </div>
          <div *ngIf="movieEditorForm.controls['year']?.invalid && !movieEditorForm.controls['year']?.pristine" class="error-message">
            Gyártási évnek a következő formátumot kell követni: 1992
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="studio" class="text-sm font-medium text-gray-500">Gyártó:</label>
            <input id="studio" name="studio" [(ngModel)]="movie.studio"
            required pattern="^[A-Ű0-9][0-9A-Űa-ű .]{2,30}$" placeholder="Film gyártója"
              class="form-control mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 bg-gray-50 ">
          </div>
          <div *ngIf="movieEditorForm.controls['studio']?.invalid && !movieEditorForm.controls['studio']?.pristine" class="error-message">
            Gyártónak 3-20 karakter közöttinek kell lennie.
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="active" class="text-sm font-medium text-gray-500">Raktáron:</label>
            <div class="form-check flex items-center ">
              <input class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"
                type="checkbox" value="" id="active" name="active" [checked]="movie.active"
                [(ngModel)]="movie.active">
            </div>
          </div>
        </div>
        <ng-template #onlyRead>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="director" class="text-sm font-medium text-gray-500">Rendezte:</label>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ movie.director }}</dd>
          </div>
          <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="director" class="text-sm font-medium text-gray-500">Gyártás éve:</label>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ movie.releaseYear }}</dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="director" class="text-sm font-medium text-gray-500">Gyártó:</label>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ movie.studio }}</dd>
          </div>
          <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 form-group">
            <label for="director" class="text-sm font-medium text-gray-500">Raktáron:</label>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ movie.active | trueOrFalse }}</dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Borító:</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <img class="max-w-xs border-2 border-zinc-200" [src]="movie.poster" alt="">
            </dd>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
